--- 
--- 
$font-family-base: 'Source Sans Pro', 'Segoe UI', sans-serif;
$font-family-heading: Lato, 'Microsoft Yahei', sans-serif !default;

@import 'main';

:root {
	--bs-font-monospace: "Recursive Mono", SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
}

#sidebar {
	nav {
		font-family: 'Source Sans Pro', 'Segoe UI', sans-serif;
	}

	nav i {
		padding-bottom: 0.06rem;
	}
}

main > article {
	word-spacing: -0.03em;
	font-family: xcharter, Georgia, $font-family-base;

	h1, h2, h3, h4, h5 {
		font-family: xcharter, Georgia, $font-family-base;
	}
}

@font-face {
    font-family: xcharter;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-display: swap;
    src: url("/assets/fonts/xcharter/xcharter-regular.woff2") format("woff2")
}

@font-face {
    font-family: xcharter;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    font-display: swap;
    src: url("/assets/fonts/xcharter/xcharter-bold.woff2") format("woff2")
}

@font-face {
    font-family: xcharter;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    font-display: swap;
    src: url("/assets/fonts/xcharter/xcharter-italic.woff2") format("woff2")
}

@font-face {
    font-family: xcharter;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    font-display: swap;
    src: url("/assets/fonts/xcharter/xcharter-bold-italic.woff2") format("woff2")
}

@font-face {
    font-family: "Recursive Mono";
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url("/assets/fonts/recursive-mono/cyrillic-ext.woff2") format("woff2");
    unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F
}

@font-face {
    font-family: "Recursive Mono";
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url("/assets/fonts/recursive-mono/vietnamese.woff2") format("woff2");
    unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB
}

@font-face {
    font-family: "Recursive Mono";
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url("/assets/fonts/recursive-mono/latin-ext.woff2") format("woff2");
    unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF
}

@font-face {
    font-family: "Recursive Mono";
    font-style: normal;
    font-weight: 300 800;
    font-display: swap;
    src: url("/assets/fonts/recursive-mono/latin.woff2") format("woff2");
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD
}

@mixin light-scheme {
	--btn-share-color: initial;
	--highlighter-rouge-color: #202020;
	--text-color: #100921;
	--legend-color: #333;
}

@mixin dark-scheme {
	.content a.popup+em {
		color: var(--text-color);
	}
	--highlighter-rouge-color: #ddd;
	--legend-color: #999;
}

.content a.popup+em, div.highlighter-rouge + p:has(em) {
    text-align: center;
	font-size: 85%;
	padding: 0;
	color: var(--legend-color);
	font-style: italic;
	margin-top: 0.6em;
}

div.highlighter-rouge {
	&:not(:last-child) {
		margin-bottom: 0;
	}

	// target elements following such a div except p:has(em)
	&+ *:not(p:has(em)) {
		margin-top: 1.2em;
	}
}

html {
	@media (prefers-color-scheme: light) {
		&:not([data-mode]),
		&[data-mode='light'] {
			@include light-scheme;
		}

		&[data-mode='dark'] {
			@include dark-scheme;
		}
	}

	@media (prefers-color-scheme: dark) {
		&:not([data-mode]),
		&[data-mode='dark'] {
			@include dark-scheme;
		}

		&[data-mode='light'] {
			@include light-scheme;
		}
	}
}

@media all and (min-width: 1200px) {
	.content {
		font-size: min(max(1.9vw, 14px), 17px);
	}
}

svg text {
	font-family: var(--font-family-base) !important;
	fill: var(--text-color) !important;
}

@mixin btn-sharing-color($light-color, $important: true) {
	@if $important {
		color: var(--btn-share-color, $light-color) !important;
	}
	@else {
		color: var(--btn-share-color, $light-color);
	}
}

.share-icons .fab {
	&.fa-reddit {
		@include btn-sharing-color(rgba(255, 69, 0, 1));
	}

	&.fa-hacker-news {
		@include btn-sharing-color(rgba(255, 102, 0, 1));
	}

	&.fa-twitter {
		@include btn-sharing-color(rgba(29, 161, 242, 1));
	}

	&.fa-telegram {
		@include btn-sharing-color(rgb(39, 159, 217));
	}
}

@media all and (min-width: 576px) {
	div[class^='language-'] {
		.code-header {
			&::before {
				background-color: transparent;
				box-shadow: none;
			}
		}
	}
}

pre {
	tab-size: 4;
}

#toc-wrapper {
	ul {
		.toc-link {
			white-space: normal;
		}
	}
}

@font-face {
	font-family: "Caracteres L4";
	src: url("/assets/fonts/l4.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

#sidebar {
	#avatar {
		box-shadow: none;

		img:hover {
			transform: none;
		}
	}

	.site-title a {
		font-family: "Caracteres L4";
		font-weight: normal;
		font-size: 2.25rem;
	}
}

blockquote.prompt-info::before {
	content: "\f05a";
	color: var(--prompt-info-icon-color);
	font: var(--fa-font-solid);
}

main p:has(>a.popup:not(.normal):not(.left):not(.right)) {
	text-align: center;
}

main p>a.popup:not(.normal):not(.left):not(.right) {
	transform: none;
	left: 0;
	position: initial;
}

.shimmer::before {
	display: none;
	animation: none;
	-webkit-animation: none;
}

.preview-img img {
	width: 100%;
	transform: translate3d(0px, 0px, 0px); // fixes pixelated images in Chrome (https://stackoverflow.com/questions/74502978/object-fit-cover-gives-pixelated-images-on-chrome)
}