--- 
--- 
$font-family-base: 'Source Sans Pro', 'Segoe UI', sans-serif;

@import 'main';

@mixin light-scheme {
	--btn-share-color: initial;
}

@mixin dark-scheme {
	.content a.popup+em {
		color: var(--text-color);
	}
}

html {
	@media (prefers-color-scheme: light) {
		&:not([data-mode]),
		&[data-mode='light'] {
			@include light-scheme;
		}

		&[data-mode='dark'] {
			@include dark-scheme;
		}
	}

	@media (prefers-color-scheme: dark) {
		&:not([data-mode]),
		&[data-mode='dark'] {
			@include dark-scheme;
		}

		&[data-mode='light'] {
			@include light-scheme;
		}
	}
}

svg text {
	font-family: var(--font-family-base) !important;
	fill: var(--text-color) !important;
}

@mixin btn-sharing-color($light-color, $important: true) {
	@if $important {
		color: var(--btn-share-color, $light-color) !important;
	}
	@else {
		color: var(--btn-share-color, $light-color);
	}
}

.share-icons .fab {
	&.fa-reddit {
		@include btn-sharing-color(rgba(255, 69, 0, 1));
	}

	&.fa-hacker-news {
		@include btn-sharing-color(rgba(255, 102, 0, 1));
	}

	&.fa-twitter {
		@include btn-sharing-color(rgba(29, 161, 242, 1));
	}

	&.fa-telegram {
		@include btn-sharing-color(rgb(39, 159, 217));
	}
}

@media all and (min-width: 576px) {
	div[class^='language-'] {
		.code-header {
			&::before {
				background-color: transparent;
				box-shadow: none;
			}
		}
	}
}

pre {
	tab-size: 4;
}

#toc-wrapper {
	ul {
		.toc-link {
			white-space: normal;
		}
	}
}

@font-face {
	font-family: "Caracteres L4";
	src: url("/assets/fonts/l4.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

#sidebar {
	#avatar {
		box-shadow: none;

		img:hover {
			transform: none;
		}
	}

	.site-title a {
		font-family: "Caracteres L4";
		font-weight: normal;
		font-size: 2.25rem;
	}
}

blockquote.prompt-info::before {
	content: "\f05a";
	color: var(--prompt-info-icon-color);
	font: var(--fa-font-solid);
}

main p:has(>a.popup:not(.normal):not(.left):not(.right)) {
	text-align: center;
}

main p>a.popup:not(.normal):not(.left):not(.right) {
	transform: none;
	left: 0;
	position: initial;
}

.shimmer::before {
	display: none;
	animation: none;
	-webkit-animation: none;
}

.preview-img img {
	width: 100%;
}